/* Sidebar
   ========================================================================== */
.logo-container {
  padding: 10px 0 !important;
}

.logo {
  width: 80px !important;
  margin: 0 auto !important;
}

.sidebar-container,
.ui.left.sidebar {
  width: 100px !important;
}

.sidebar-container {
  overflow: hidden;
  height: 100%;
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
}

.pusher {
  padding-left: 110px;
}

/* Helpers
   ========================================================================== */
.full-height {
  height: 100%;
}

.hide-y-scroll {
  overflow-y: hidden !important;
}

.item-no-border::before {
  width: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.no-padding-top {
  padding-top: 0 !important;
}

.no-padding-bottom {
  padding-bottom: 0 !important;
}

.no-padding-right {
  padding-right: 0 !important;
}

.no-padding-left {
  padding-left: 0 !important;
}

.no-border-radius {
  border-radius: 0 !important;
}

.text-center {
  text-align: center;
}

.mb10 {
  margin-bottom: 10px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}


.mt10 {
  margin-top: 10px !important;
}

.p10 {
  padding: 10px !important;
}

.pt10 {
  padding-top: 10px !important;
}

.pb10 {
  padding-bottom: 10px !important;
}

/* Loader
   ========================================================================== */
.page-loader {
  width: 100%;
  height: 100%;
  position: fixed !important;
  text-align: center;
}


/* Product order
   ========================================================================== */
.qtyProductInput {
  margin-right: 15px;
}

.qtyProductInput input {
  width: 60px;
}



